# TransIP authentication
TRANSIP_USERNAME=
TRANSIP_PRIVATE_KEY_FILE=/usr/src/app/config/transip.key

# Legacy authentication (not recommended)
# TRANSIP_ACCESS_TOKEN=

# Domain checker settings
CHECK_INTERVAL_SECONDS=15
DOMAINS=example.com, example.org
